html{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0 auto;
    max-width: 56.25rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #adbcd1;
    
}
.menu-nav{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-nav li a{
    text-decoration: none;
    color: #003681;
    font-weight: bold;
}
.menu-nav li a:hover{
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.informacion-Personal{
    display: flex;
    background-color: #003681;
    color: white;
    padding: 1.5rem 3rem;
    align-items: center;
    justify-content: space-around;
    
}
.profile-picture{
    height: 12rem;
    border: 0.5rem solid white;
    width: 12rem;
    justify-content: center;
    border-radius: 50%;
    background-image: url(../img/profile-picture.jpg);
    background-position-x: center;
    background-size: 11.7rem;
}
.detail-info{
    list-style: none;
    text-align: left;
}
.detail-info img{
    width: 2rem;
    padding-right: 0.5rem;
}
#linkedin-logo{
    margin-top: 0.3rem;
}
.detail-info li{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.summary-desc{
    font-size: 1.3rem;
    text-align: justify;
}
.profileHeader{
    color: cornflowerblue;
    border-bottom: 2px solid #adbcd1;
    padding: 0.5rem 1rem;

}
.profile-experience{
    display: flex;
}
.profile-qualitys{
    width: 30%;
    background-color: #adbcd1;
}
.profile-employed{
    width: 70%;

}
.Skills{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.5rem 1rem 1.5rem ;
}
.label-skill{
    display: flex;
    align-items: center;
    max-height: 2.5rem;
    box-sizing: border-box; 
    margin: 0.3rem;
}
.label-skill .etiqueta{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60%;
    box-sizing: border-box;
    background-color: #003681;
    color: white;
}

.conteiner-img{
    display: flex;
    align-items: center; /* Centra la imagen verticalmente */
    justify-content: center; /* Centra la imagen horizontalmente */
    height: 100%;
    width: 40%;
    box-sizing: border-box;
    background-color: white;
}
.conteiner-img img{
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    max-height: 100%; /* Asegura que la imagen no supere la altura del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: auto; /* Mantiene la proporción de la imagen */
    box-sizing: border-box;
}
.container-laguange{
    padding: 0rem 1rem 0 1.5rem;
}
.laguange-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.bullet {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #003681;
    border-radius: 50%; /* Hace que el cuadrado sea un círculo */
}
.quality-list{
    list-style: square;
}
.quality-list li::marker{
    color: #003681;
}
.quality-list li{
    margin-bottom: 0.5rem;
    color: black;
}
.employed-header{
    display: flex;
    padding: 1rem 2rem;

}
.employed-empresa h3{
    color: #003681;
    margin: 0;
}.employe-date{
    font-style: italic;
}
.employed-empresa{
    display: flex;
    flex-direction: column;
}
.employed-img{
    width: 8rem;
    height: 8rem;
    border: 4px solid #adbcd1;
    padding: 1rem 1rem;
    box-sizing: border-box;
    margin-right: 2rem;
}
.employed-img img{
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    max-height: 100%; /* Asegura que la imagen no supere la altura del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: auto; /* Mantiene la proporción de la imagen */
    box-sizing: border-box;
}
.container-detail{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 2px solid #adbcd1 ;
}
.container-detail{
    color: #003681;
    font-size: 1.2rem;
    font-weight: bold;
}
.container-detail:hover{
    cursor: pointer; 
    opacity: 0.5;
}
.container-detail span:last-child {
    transition: transform 0.3s ease; /* Transición suave para la rotación del triángulo */
}
.item-detail{
    display: none;
}
.dadJoke-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
#dadJoke{
    margin-right: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #003681;
    display: none;
}
#jokeBotton{
    font-size: 1rem;
    width: 7rem;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #adbcd1;
    color: white;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#jokeBotton:hover{
    cursor: pointer; 
    color: #003681;
}